<div class="flex justify-center h-full">
    <.live_component module={MdlAppsWeb.Live.Components.Navbar} id="navbar" links={@links} />
    <div class="grow">
        <.live_component module={MdlAppsWeb.Live.Components.FlashNotifications} id="flash-notifications" flash={@flash} />
        
    </div>
</div>